In [1]:
import yfinance as yf
import pandas as pd

# Function to fetch historical stock data
def fetch_stock_data(ticker, start_date, end_date):
    stock = yf.Ticker(ticker)
    stock_data = stock.history(start=start_date, end=end_date)
    return stock_data

# Define the date range
start_date = '2024-05-02'
end_date = '2024-05-31'

# Fetch historical stock data for Apple Inc
ticker = 'AAPL'
stock_data = fetch_stock_data(ticker, start_date, end_date)

# Reset index to have 'Date' as a column
stock_data.reset_index(inplace=True)

# Extract only the date part from the 'Date' column
stock_data['Date'] = stock_data['Date'].dt.date

# Select relevant columns
stock_data = stock_data[['Date', 'Open', 'High', 'Low', 'Close']]

# Rename the 'Date' column to 'date'
stock_data.rename(columns={'Date': 'date'}, inplace=True)

# Display the stock data
stock_data

          date        Open        High         Low       Close
0   2024-05-02  172.276324  173.185095  170.658523  172.795624
1   2024-05-03  186.397167  186.746699  182.412581  183.131607
2   2024-05-06  182.103015  183.950500  180.175621  181.463882
3   2024-05-07  183.201504  184.649537  181.074400  182.152924
4   2024-05-08  182.602329  182.822032  181.204216  182.492477
5   2024-05-09  182.312720  184.409882  181.863333  184.320007
6   2024-05-10  184.899994  185.089996  182.130005  183.050003
7   2024-05-13  185.440002  187.100006  184.619995  186.279999
8   2024-05-14  187.509995  188.300003  186.289993  187.429993
9   2024-05-15  187.910004  190.649994  187.369995  189.720001
10  2024-05-16  190.470001  191.100006  189.660004  189.839996
11  2024-05-17  189.509995  190.809998  189.179993  189.869995
12  2024-05-20  189.330002  191.919998  189.009995  191.039993
13  2024-05-21  191.089996  192.729996  190.919998  192.350006
14  2024-05-22  192.270004  192.820007  190.270004  190.899994
15  2024-05-23  190.979996  191.000000  186.630005  186.880005
16  2024-05-24  188.820007  190.580002  188.039993  189.979996
17  2024-05-28  191.509995  193.000000  189.100006  189.990005
18  2024-05-29  189.610001  192.250000  189.509995  190.289993
19  2024-05-30  190.759995  192.179993  190.630005  191.289993